<h1 class="text-3xl">Contact page</h1>

<hr class="my-2" />

<section>
  <p class="mb-4">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione omnis
    cumque quos, officia reiciendis rerum accusantium non itaque odio. Illum
    consequuntur distinctio ab eos, rerum, ullam sequi voluptates facere
    officiis voluptas impedit beatae omnis explicabo deleniti tempora magni rem
    error ea doloremque vero soluta. Eligendi repudiandae animi corporis fuga
    laudantium.
  </p>
</section>
